src/main/mule/whiplash-mock-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="whiplash-create-orders-flow" doc:id="3775615d-d49f-47a3-8474-b2340f1ddc7c" >
		<http:listener doc:name="Listener" doc:id="d4d06cfe-080d-423b-a558-45e67f9c4839" config-ref="HTTP_Listener_config" path="/api/v2/orders" allowedMethods="POST"/>
		<logger level="INFO" doc:name="INFO: START" doc:id="24249560-dcdb-40f8-85c0-87681afb7abd" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.start')&#10;var logMessage = tracePoint ++ &quot;: Whiplash has received an order&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, null, attributes)]" category="ck-support-info-monitoring"/>
		<file:read doc:name="Read item_masters.json" doc:id="07449d78-767a-4440-92a8-b46c3208b2fe" path="item_masters.json" outputMimeType="application/json" target="itemMasters" config-ref="File_Config">
				<ee:repeatable-file-store-stream inMemorySize="256" bufferUnit="MB" />
			</file:read>
		<ee:transform doc:name="Set Variable - orderId" doc:id="c33fd925-7d3b-4df6-903a-b9e53cd237fa" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/variables/wpl-orderId.dwl" variableName="orderId" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="df75d37e-3c0e-4e86-9180-455dfac5c841" >
			<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-create-order-response.dwl" />
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert into wmsmock_wpl_sales_orders" doc:id="b6d6c48b-bcc8-4612-9ea5-43ff71d3997a" config-ref="Database_Config" target="dbRes">
			<db:sql ><![CDATA[INSERT INTO wmsmock_wpl_sales_orders (data) VALUES (:data)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	data: write(payload,'application/json')
}]]]></db:input-parameters>
		</db:insert>
		<db:bulk-insert doc:name="Bulk insert into wmsmock_wpl_sales_order_items" doc:id="92798c18-edee-481a-84e1-697b60c57db4" config-ref="Database_Config" target="dbRes">
			<db:bulk-input-parameters ><![CDATA[#[%dw 2.0
output application/json
---
(payload.order_items default []) map ((item) -> {
	data: write((item ++ {order_orig: payload.order_orig, order_id: vars.orderId}),'application/json')
})]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[INSERT INTO wmsmock_wpl_sales_order_items (data) VALUES (:data)]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="INFO: END" doc:id="07ebe133-5c1a-4c8a-bc66-f32710c28379" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.end')&#10;var logMessage = tracePoint ++ &quot;: Whiplash has inserted order into DB&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, null, attributes)]" category="ck-support-info-monitoring"/>
	</flow>
	<flow name="whiplash-get-orders-by-search-string-subflow" doc:id="0647291b-c4da-498c-8676-9383ff160857" >
		<http:listener doc:name="Listener" doc:id="3bda1333-2aae-4f4f-bbbe-5cb95fc74139" config-ref="HTTP_Listener_config" path="/api/v2/orders" allowedMethods="GET"/>
		<logger level="INFO" doc:name="INFO: START" doc:id="0780764d-1b57-4b97-8160-7e52ea652e79" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.start')&#10;var logMessage = tracePoint ++ &quot;: Whiplash is going to get orders by search string&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, null, attributes)]" category="ck-support-info-monitoring"/>
		<ee:transform doc:name="Set Variable - getOrdersBySearchStringSQLQuery" doc:id="7fc602bc-f578-4c6d-944d-b1ad7776b4c7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/variables/wpl-getOrdersBySearchStringSQLQuery.dwl" variableName="getOrdersBySearchStringSQLQuery" />
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="f04eddea-bdb1-4769-99cf-d986cbc83a70" config-ref="Database_Config">
			<db:sql ><![CDATA[#[vars.getOrdersBySearchStringSQLQuery]]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e9b0f6f6-622d-431f-b38e-668785ce7ce7" >
			<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-get-orders-by-search-string.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO: END" doc:id="9196154a-6fbb-4ac6-9317-53d5564b6f3c" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.end')&#10;var logMessage = tracePoint ++ &quot;: Whiplash returned &quot; ++ sizeOf(payload.data default []) ++ &quot; orders searched by search string&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, null, attributes)]" category="ck-support-info-monitoring"/>
	</flow>
	<flow name="whiplash-get-an-order-flow" doc:id="be75fde8-1192-44a2-ab49-b1a9d33dec07" >
		<http:listener doc:name="Listener" doc:id="f0d4893e-8d75-4fa0-a7bf-df600a5567ec" config-ref="HTTP_Listener_config" path="/api/v2/orders/{id}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="INFO: START" doc:id="e2a214c1-f322-426f-aa75-c83f3326d4e2" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.start')&#10;var logMessage = tracePoint ++ &quot;: Whiplash is going to get order by id&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, null, attributes)]" category="ck-support-info-monitoring"/>
		<ee:transform doc:name="Set Variable - id" doc:id="1d3d2d5a-58b9-43da-8bc0-9902c11ea00f">
			<ee:message />
			<ee:variables>
				<ee:set-variable resource="dw/variables/wpl-attr-query-id.dwl" variableName="id" />
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="2ed7b58c-4446-4e38-887a-984394b7143d" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT data FROM wmsmock_wpl_sales_orders WHERE JSON_EXTRACT(data, "$.order_orig") = :order_orig]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	order_orig: vars.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="bc49ef67-2662-4d3b-8db4-f56004d25863" >
			<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-get-an-order.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO: END" doc:id="65db1ad6-62ef-4c46-a198-9ad31de09ea5" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.end')&#10;var logMessage = tracePoint ++ &quot;: Whiplash returned order searched by id&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, null, attributes)]" category="ck-support-info-monitoring"/>
	</flow>
	<flow name="whiplash-get-token-flow" doc:id="24ef67c6-dd38-4374-b292-85d40cdb696d" >
		<http:listener doc:name="Listener" doc:id="ebb82e54-848d-4fb1-a8d3-f47cadec77b8" config-ref="HTTP_Listener_config" path="/oauth/token" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="c8df1cfb-b1d4-4962-b6fa-0216c48893db" >
			<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-token-response.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="whiplash-get-request-code-flow" doc:id="ef9e5df8-03d8-4f7f-94b4-142028d31a51" >
		<http:listener doc:name="Listener" doc:id="eae4d42f-d01f-4846-85a3-d2a51fe50f89" config-ref="HTTP_Listener_config" path="/oauth/authorize" allowedMethods="GET"/>
		<set-variable value="#[attributes.queryParams.redirect_uri]" doc:name="Set Variable - callbackURI" doc:id="e6c06eea-3fc4-47f4-97a3-14cd046be9cf" variableName="callbackURI"/>
		<ee:transform doc:name="Set Variable - parsedCallbackURI and codeRequested" doc:id="4243ffbe-e804-4a38-814c-6408e61f8d89" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/variables/wpl-parsed-callback-uri.dwl" variableName="parsedCallbackURI" />
				<ee:set-variable resource="dw/variables/wpl-codeRequested.dwl" variableName="codeRequested" />
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request Whiplash callback" doc:id="787c30b3-61ec-4c24-9fbd-6ee8702b0d59" config-ref="s-whiplash_HTTP_Request_configuration" path="#[vars.parsedCallbackURI.path]" target="httpRes">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"code": vars.codeRequested
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="ad94ad7d-b108-4559-9616-fd204e527f4c" >
			<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-get-request-code-response.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
</mule>
